#footer {
    #footerInfo {
        background-color: $footer-primary-back;
    }
    #footerEnd {
        background-color: $footer-secondary-back;
        ul {
            text-align: right;
            li {
                display:inline;
                a{

                }
            }
        }
    }
}