#single-content{
    @include h-center(40%,center);
    background-color: $background-color;
    padding-top: 20px;
    .category {
        padding-bottom: 30px;
        a{
            @include category;
        }
        
    }
    .post {
        .article-title {
            padding-bottom: 30px;
            a {
                @include article-title;
            }
            
        }
        .post-content {
            p {
                @include h-center (100%, justify);
                img {
                    width: 100%;
                    height: auto;
                    padding-bottom: 40px;
                }
            }
            h4 {
                @include h-center (100%, left);
                padding-top: 10px;
                padding-bottom: 10px;
                font-weight: $font-weight-bold;
            }
            h3 {
                @include h-center (100%, left);
            }
            .comments-template {
                padding-top: 30px;
                
            }
        }
    }
    
    
}