body {
    background-color: $background-color;
    font-family: $font-primary;
    color: $font-color-light;
    font-size: 18px;
}

h1 {
    font-size: 350%;
    color: $font-color-bold;
}

a {
    text-decoration: none;
    color: $debug-color;
}