body {
    background-color: $background-color;
    font-family: $font-primary;
    color: $font-color-light;
    font-size: 20px;
    margin: auto;
}

h1 {
    font-size: $font-size-main-title;
    color: $font-color-bold;
}

a {
    text-decoration: none;
    // color: $debug-color;
}

h3 {
    @include h-center (100%, left);
}

h4 { // Title for article
    @include h-center (100%, left);
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: $font-secondary;
    font-weight: $font-weight-bold;
    font-size: 120%;
}

h5 { //subtitle for article
    @include h-center (100%, left);
    font-weight: $font-weight-bold;
    padding-top: 20px;
    padding-bottom: 5px;
}

