//@@@@@@@@@@@@@@@@@@@@-FONTS-@@@@@@@@@@@@@@@@@@@@\\
@font-face {
    font-family: "Crimson Text";
    src: url("fonts/CrimsonText-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
}

$font-primary :'Crimson Text',serif;
$font-secondary: 'Open Sans',sans-serif;

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@\\

//@@@@@@@@@@@@@@@@@@@@-VARIABLE-@@@@@@@@@@@@@@@@@@@@\\



$background-color: white;
$background-color-hr :#F7F7F7;

$font-color-bold: #424242;
$font-color-light: #9F9F9F;
$font-color-categorie: #FD8F72;

$footer-primary-back: #3D4045;
$footer-secondary-back: #3D4045;
$footer-font-color-h: #9F9F9F;



//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@\\

